<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form action = "http://localhost:5000/name" method = "post">
        <p>Enter Name:</p>
        <p><input type = "text" name = "nm" /></p>
        <p><input type = "submit" value = "Send Your Name" /></p>
    </form>

    <form action = "http://localhost:5000/message" method = "post">   
        <p>Write a Message:</p>
        <p><input type = "text" name = "msg" /></p>
        <p><input type = "submit" value = "Send A Message" /></p>
    </form>      
    
</body>
</html>
