<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/css/tasks.css">
</head>
<body>
    <ul>
        {% for task in tasks %}
        
            <p>{{task['subject']}}: Complete {{task['names']}} by {{task['deadlines']}}</p>
            <!-- <span>{{task["tasks"]}}</span> -->
            <a href = "/tasks/edit/{{task['rowid']}}">Edit</a>
            <a href = "/tasks/delete/{{task['rowid']}}">Delete</a>
            <a href = "/tasks/done/{{task['rowid']}}">Done</a>
        
            {% endfor %} 
    </ul>
</body>
</html>