<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/css/main.css">
</head>
<body>
    <img src = "static/images/Homework_Tracker_No_background.png" alt = "Homework Task Master">
    <form action = "/submitted-tasks" method = "post">   
        <h1>Enter A Task Below:</h1>
        <p>Select the Assignment Subject:</p>
            <input type = "radio" name = "task-type" value= "math" />
            <label for = "math">Math</label><br>
            <input type = "radio" name = "task-type" value= "english" />
            <label for = "english">English</label><br>
            <input type = "radio" name = "task-type" value= "writing" />
            <label for = "writing">Writing</label><br>
            <input type = "radio" name = "task-type" value= "science" />
            <label for = "science">Science</label><br>
            <input type = "radio" name = "task-type" value= "history" />
            <label for = "history">History</label><br>
            <input type = "radio" name = "task-type" value= "other" />
            <label for = "other">Other</label><br>
        <p>Enter The Task Name:</p> 
            <input type = "text" name = "task-name" />
        <p>Enter The Assignment Due Date:</p>
            <input type = "datetime-local" name = "task-due-date" />
        <p></p><input type = "submit" value = "Submit Task" /></p>
    </form>
</body>
</html>